[Unit]
Description=Check-in Bot Cron Tasks
After=network.target

[Service]
Type=oneshot
User=nginx
Group=nginx
WorkingDirectory=/var/www/check-in-bot
ExecStart=/var/www/check-in-bot/.venv/bin/python3 /var/www/check-in-bot/cron.py

[Install]
WantedBy=multi-user.target 